@import '_setting.scss';

.column {
    flex: 0 0 auto;
    width: 300px;
    height: 500px;
    margin: 0 $column-gap;
}

>* {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
    border-radius: $column-border-radius;
}

header {
    line-height: $column-height;
    height: $column-height;
    padding-left: $column-gap ;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    font-size: 16px;
    font-weight: bold;
}

footer {
    line-height: $column-height;
    height: $column-height;
    padding-left: calc(#{$column-gap} + 5px);
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
}

ul.card-list {
    list-style-type: none;
    margin: 0;
    max-height: calc(100% - #{$column-height} - #{$column-height});
    overflow-y: auto;
    padding: 0;

    &::-webkit-scrollbar {
        appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: darken($list-bg-color, 15);
        border-right: 5px solid $list-bg-color;
    }



}