@import '_setting.scss';

$columns-height: calc(#{$board-content-height} - #{$column-height * 2});


.column {
    flex: 0 0 auto;
    width: 300px;
    padding: 0 5px 0 $gap ;
    margin: 0 $column-gap;
    // height: $columns-height;
    >* {
        background-color: $list-bg-color;
        padding: 0 8px;
        border-radius: $column-border-radius;
    }

    header.column-drag-handle {
        line-height: $column-height;
        height: $column-height;
        padding: 5px 8px ;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        .column-title  {
            flex: 90%;
        }
        .column-dropdown-action {
            flex: 10%;
            .dropdown{
                .dropdown-btn {
                    background-color: $list-bg-color;
                    border: none;
                    padding: 0 $gap;
                    font-size: 16px;
                    font-weight: bold;
                    height: 32px;
                    margin-top: -16px;
                    &::after{
                        content: '...';
                        border: none;
                        color: $app-main-color;
                        outline: none;
                        letter-spacing: 1px;
                        vertical-align: 1.255em;
                    }
                    &:hover {
                        background-color: darken($list-bg-color, 10);
                        border-color:  darken($list-bg-color, 10); 
                    }
                }
            }
            .dropdown-menu {
                padding: 0;
                min-width: 200px;
            }
            .dropdown-item {
                padding: 0,1rem 1rem;
                font-size: 14px;
                &:not(:last-child) {
                    border-bottom: 1px solid  darken($list-bg-color, 10);
                }
            }
        }
    }

    .column-drag-handle {
        cursor: pointer;
    }

    footer {
        
        line-height: $column-height;
        height: $column-height;
        // padding-left: calc(#{$column-gap} + 5px);
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
        color: #888;
        .footer-actions {
            // margin-left: $gap;
            cursor: pointer;
            &:hover{
                color: $app-main-color;
            }
        }
    }

    div.card-list {
        margin: 0;
        max-height: calc(#{$columns-height} - #{$column-height} - #{$column-height});
        overflow-y: auto;
        padding: 0;

        &::-webkit-scrollbar {
            appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darken($list-bg-color, 15);
            border-right: 5px solid $list-bg-color;
        }

        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg);
            font-weight: bold;
        }
        
        .card-ghost-drop{
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg);
            font-weight: bold;

        }
        .cards-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px 45px 5px 5px;
        }
        .textarea-enter-new-card {
            min-height: 54px;
            max-height: 162px;
            
        }

    }
}

.column {
    background-color: $list-bg-color;
    flex: 0 0 auto;
    border-radius: $column-gap;
}

>* {
    color: $app-main-color;
    padding: 0 8px;
    border-radius: $column-border-radius;
}

header {
    line-height: $column-height;
    height: $column-height;
    padding-left: $column-gap ;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    font-size: 16px;
    font-weight: bold;
}

footer {
    line-height: $column-height;
    height: $column-height;
    padding-left: calc(#{$column-gap} + 5px);
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
}

ul {
    list-style-type: none;
    margin: 0;
    max-height: calc(100% - #{$column-height} - #{$column-height});
    overflow-y: auto;
    padding: 0;

    &::-webkit-scrollbar {
        appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: darken($list-bg-color, 15);
        border-right: 5px solid $list-bg-color;
    }

    li {
        background: #fff;
        padding: $column-gap;
        border-radius: $card-border-radius ;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

        &:not(:last-child) {
            margin-bottom: $column-gap;
        }

        img {
            display: block;
            width: calc(100% + 2 * #{$column-gap});
            margin: -$column-gap 0 $column-gap (
                -$column-gap
            );
        border-bottom-left-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
    }
}

}