@import '_setting.scss';


.board-content {
    height: $board-content-height;
    display: flex;
    margin: 0 $column-gap $column-gap ;
    overflow-x: auto;
    &::after{
        content: '';
        flex: 0 0 $gap
    }
    &::-webkit-scrollbar {
        appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .24);
        border: 8px solid $list-bg-color;
    }
    .add-new-column {
        width: 250px;
        max-width: 250px;
        
        line-height: 40px;
        padding: 4px 0px 4px 15px;
        cursor: pointer;
        color: #fff;
        margin-left: $gap;
        font-size: 15px;
        background-color: hsla(0, 0%, 100%, .24);
        border-radius: $gap;
        &:hover {
        background-color: hsla(0, 0%, 100%, .34);
        }
    }
    .enter-new-column {
        
        padding: 4px 10px;
        width: 250px;
        max-width: 250px;
        margin-left: $gap;
        
        background-color: $list-bg-color;
        border-radius: $gap;
        .input-enter-new-column {
            margin: 5px 0 ;
        }
        .cancel-new-column {
            margin-left: $gap;
            cursor: pointer;
    
            i{
                font-size: 18px;
                color: $alert-danger-color;
                &:hover{
                    color: darken($alert-danger-color, 10);
                }
            }
            
        }
    }
    
.column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
}