@import '_setting.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
}


.trelloApp {
    height: 100vh;
    background-color: $board-bg-color;
    overflow-y: hidden;
    color: $app-main-color;
    .icon {
        font-size: 14px;
        margin-right: 5px;
    }
}